.listing {
    background: beige;
    border-radius: 30px;
    padding-bottom: 30px;
}
.listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
}
.listing {
    background: beige;
    border-radius: 30px;
    padding-bottom: 30px;
}
.listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
}